<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-center">
        <li class="nav-item">
          <a class="nav-link" href="khachhang">Danh sách khách hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="khachhang/create">Thêm mới khách hàng</a>
        </li>
      </ul>
    </div>

<!--    <form class="row g-3" action="/find">-->
<!--      <div class="col-auto">-->
<!--        &lt;!&ndash;                <input type="search" class="form-control"  placeholder="Tên khách hàng" name="ten">&ndash;&gt;-->
<!--        <select type="search" class="form-control" name="khachhang">-->
<!--&lt;!&ndash;          <option value="">Khách hàng</option>&ndash;&gt;-->
<!--&lt;!&ndash;          <option th:text="Nghĩa" th:value="1"></option>&ndash;&gt;-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="col-auto">-->
<!--        <select type="search" class="form-control" name="dichvu">-->
<!--          <option value="">Dịch vụ</option>-->
<!--          <option value="Nhà">Nhà</option>-->
<!--          <option value="Đất">Đất</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="col-auto">-->
<!--        <button type="submit" class="btn btn-primary mb-3">Search</button>-->
<!--      </div>-->

<!--    </form>-->


  </div>
</nav>
